<div class="col-md-3">
	<div class="card">
		<img class="card-img-top" alt="Bootstrap Thumbnail First" src="{{image}}" />
		<div class="card-block">
			<h5 class="card-title">
				{{name}}
			</h5>
			<p class="card-text">
                {{rating}}<span class="fas fa-star"></span>
            </p><p>
				{{description}}
			</p>
            
			<p>
				<a class="btn btn-primary" href="/profile/{{user_name}}">See {{name}}</a>
			</p>
		</div>
	</div>
</div>