<div class="col-md-3">
	<div class="card" id="listing">
		<img class="card-img-top" alt="Bootstrap Thumbnail First" src="{{image}}" />
		<div class="card-block">
			<h5 class="card-title" id="item-name">
				{{item_name}}
			</h5>
			<p class="card-text">
				{{item_desc}}
			</p>
			<p>
				<a class="btn btn-primary" href="/listing/{{item_id}}">See {{item_name}}</a>
			</p>
		</div>
	</div>
</div>