<div class="col-md-3">
	<div class="card">
		<img class="card-img-top" alt="Bootstrap Thumbnail First" src="../Images/{{listing_id}}.png" />
		<div class="card-block">
			<h5 class="card-title">
				{{name}}
			</h5>
            <h6>
                
            </h6>
            <p>
				{{description}}
			</p>
			<p>
				<a class="btn btn-primary" href="/listing/{{listing_id}}">See {{name}}</a>
			</p>
		</div>
	</div>
</div>